body {
  font-family: Arial, sans-serif;
  background-color: #ff0000c5;
}

form {
  background: rgb(59, 0, 0);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  margin-top: 5px;
  border: 1px solid #ff0000;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  opacity: 0.9;
}